{ 
    "presets": [[
      "@babel/preset-env", {
        "targets": {
          "node": 16
        }
      }
    ]],
    "plugins": [
      "@babel/plugin-proposal-export-default-from"
    ],
    "sourceMaps": true,
    "retainLines": true
  }