doctype html 
html 
  include header
  body 
    div.top
      h1.title Could the "#{meetingName}" meeting have been an email? 🤔
    div.left
      button.smiley(href='/positive?meetingId=#{meetingId}')
        | 🙂 <br/>
        | Nah!
    div.right
      button.smiley(href='/negative?meetingId=#{meetingId}')
        | 😤 <br/>
        | Yes.